apiVersion: v1
kind: Namespace
metadata:
  name: "2401093"

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  namespace: "2401093"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
  namespace: "2401093"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongo
        image: mongo:6.0
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongo-storage
          mountPath: /data/db
      volumes:
      - name: mongo-storage
        persistentVolumeClaim:
          claimName: mongo-pvc

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  namespace: "2401093"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/2401093/e-learning-server:latest
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_URL
          value: mongodb://mongo-service:27017/elearning

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: "2401093"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/2401093/e-learning-client:latest
        ports:
        - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: server-service
  namespace: "2401093"
spec:
  selector:
    app: server
  ports:
    - port: 5000
      targetPort: 5000
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: client-service
  namespace: "2401093"
spec:
  selector:
    app: client
  ports:
    - port: 80
      targetPort: 80
  type: LoadBalancer
